/* main css */
body {
    background-color: #111111;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    grid-template-rows: 250px minmax(calc(100vh - 280px), auto) 30px;
}

.response-option {
    background-color: #242424;
    font-size: 1.5em;
    color: white;
    border: 1px solid lightblue;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.response-option:hover {
    background-color: #1c444e;
    box-shadow: 0px 0px 10px 0px lightblue;
}
